/*
Regla CSS consta de 2 partes_

Selector{
    Bloque de declaraciones (son los atributos que vamos a modificar)
    atributo: valor;
}
    */
    h1{
        color: white;
        background-color: skyblue;
    }

    button{
        background-color: green;
        color: white;
    }

    /*Otro tipo de selector es el de clase y se ocupa cuando se requieren estilos diferentes*/
    .bg-cornflowerblue{
        background-color: skyblue;
    }
    
    .bg-yellowgreen{
        background-color: skyblue;
            }

    .clase1{
        background-color: skyblue;
        color: white;
    }

    .text{

        font-size: 32px;
        }
    
    .text2{
        background-color: skyblue;
        width: 200;
        text-align: center;
        padding: 25px;
        width: 300px;
        cursor: pointer;
    }

    /* uso de colores Usar colores por el nombre*/

    .color-by-nombre{
        background-color: coral;
        color: rebeccapurple;
        border: thick solid greenyellow
    }

    /* Usar colores utilizando el sistema hexadecial*/

    .color-hex{
        background-color: #FF7F50;
        color: #663399 ;
        border: thick solid #9acd32;
    }
    
    /*Usar colores usando el formato R(red) G(green) B(Blue)*/
    .color-rgb{
          background-color: rgb(255,127,80);
           color: rgb(102,51,153);
            border: thick solid rgb(173,255,47);
    }
    